{% extends 'base.html' %}

{% block title %}Contact | TealDB{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-12">

    <h2 class="text-center">
{% if contact.asshole %}
        <i class="em em-poop"></i>
{% endif %}
        {{ contact.first_name }} {{ contact.last_name }}
{% if contact.asshole %}
        <i class="em em-poop"></i>
{% endif %}
        <br>
        <small><a href="{% url 'site' contact.site.id %}">{{ contact.site.name }}</a></small>
    </h2>

</div>
</div>

<div class="row">
<div class="col-md-12">

<p class="text-center">
    <a class="btn btn-primary btn-sm" role="button" href="{% url 'edit_contact' contact.id %}">
        <span class="glyphicon glyphicon-edit"></span>
        Edit
    </a>
</p>

</div>
</div>

<div class="row">
<div class="col-md-6 col-md-offset-3">
<table class="table">

{% if contact.address1 %}
<tr>
    <th class="text-right">Address</th>
    <td>
        {{ contact.address1 }}<br>
{% if contact.address2 %}
        {{ contact.address2 }}<br>
{% endif %}
        {{ contact.city }}, {{ contact.state }} {{ contact.postal_code }}<br>
{% if contact.country %}
        {{ contact.country }}
{% endif %}
    </td>
</tr>
{% endif %}

{% if contact.phone %}
<tr>
    <th class="text-right">Phone</th>
    <td>{{ contact.phone }}</td>
</tr>
{% endif %}

{% if contact.fax %}
<tr>
    <th class="text-right">Fax</th>
    <td>{{ contact.fax }}</td>
</tr>
{% endif %}

{% if contact.mobile_phone %}
<tr>
    <th class="text-right">Mobile</th>
    <td>{{ contact.mobile_phone }}</td>
</tr>
{% endif %}

{% if contact.email %}
<tr>
    <th class="text-right">Email</th>
    <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
</tr>
{% endif %}

{% if contact.social_twitter %}
<tr>
    <th class="text-right">Twitter</th>
    <td><a href="https://twitter.com/{{ contact.social_twitter }}" target="_blank">@{{ contact.social_twitter }}</a></td>
</tr>
{% endif %}

{% if contact.social_facebook %}
<tr>
    <th class="text-right">Facebook</th>
    <td><a href="{{ contact.social_facebook }}" target="_blank">{{ contact.social_facebook }}</a></td>
</tr>
{% endif %}

{% if contact.social_instagram %}
<tr>
    <th class="text-right">Instagram</th>
    <td><a href="https://www.instagram.com/{{ contact.social_instagram }}/" target="_blank">{{ contact.social_instagram }}</a></td>
</tr>
{% endif %}

<tr>
    <th class="text-right">Asshole?</th>
    <td>
{% if contact.asshole %}
        <i class="em em-point_right"></i><i class="em em-ok_hand"></i> Yes! Fuck them and the horse they rode in on!
        <i class="em em-horse"></i>
{% else %}
        Nah, they're cool. So far.
{% endif %}
    </td>
</tr>

<tr>
    <th class="text-right">Official?</th>
    <td>
{% if contact.official %}
        Yes
{% else %}
        No
{% endif %}
    </td>
</tr>

{% if contact.notes %}
<tr>
    <th class="text-right">Notes</th>
    <td>{{ contact.notes }}</td>
</tr>
{% endif %}

</table>
</div>
</div>

{% endblock %}{# content #}
