{% extends 'base.html' %}

{% block title %}Site | TealDB{% endblock %}

{% block content %}

<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<div class="row">
<div class="col-md-12">

    <h2 class="text-center">
{% if site.have_lit %}
    <i class="em em-sunny"></i>
{% endif %}
        {{ site.name }}
{% if site.have_lit %}
    <i class="em em-sunny"></i>
{% endif %}
    </h2>

</div>
</div>

<div class="row">
<div class="col-md-6 col-md-offset-3">
<table class="table">

<tr>
    <th class="text-right">Current disposition</th>
    <td>{{ site.disposition }}</td>
</tr>

{% if site.address1 %}
<tr>
    <th class="text-right">Address</th>
    <td>
        {{ site.address1 }}<br>
{% if site.address2 %}
        {{ site.address2 }}<br>
{% endif %}
        {{ site.city }}, {{ site.state }} {{ site.postal_code }}<br>
{% if site.country %}
        {{ site.country }}
{% endif %}
    </td>
</tr>
{% endif %}

{% if site.phone %}
<tr>
    <th class="text-right">Phone</th>
    <td>{{ site.phone }}</td>
</tr>
{% endif %}

{% if site.fax %}
<tr>
    <th class="text-right">Fax</th>
    <td>{{ site.fax }}</td>
</tr>
{% endif %}

{% if site.email %}
<tr>
    <th class="text-right">Email</th>
    <td><a href="mailto:{{ site.email }}">{{ site.email }}</a></td>
</tr>
{% endif %}

{% if site.web_site %}
<tr>
    <th class="text-right">Web</th>
    <td><a href="{{ site.web_site }}">{{ site.web_site }}</a></td>
</tr>
{% endif %}

{% if site.map_link %}
<tr>
    <th class="text-right">Map</th>
    <td><a href="{{ site.map_link }}">{{ site.map_link }}</a></td>
</tr>
{% endif %}

<tr>
    <th class="text-right">Is there a fee?</th>
    <td>
{% if site.fee %}
        <i class="em em-moneybag"></i> Yes
{% else %}
        No
{% endif %}
    </td>
</tr>

<tr>
    <th class="text-right">Have we lit it?</th>
    <td>
{% if site.have_lit %}
        Yes!
{% else %}
        Not yet.
{% endif %}
    </td>
</tr>

{% if site.years_lit %}
<tr>
    <th class="text-right">Which years?</th>
    <td>{{ site.years_lit }}</td>
</tr>
{% endif %}

{% if site.notes %}
<tr>
    <th class="text-right">Notes</th>
    <td>{{ site.notes }}</td>
</tr>
{% endif %}

</table>
</div>
</div>

{% endblock %}{# content #}
