{% extends 'base.html' %}

{% block title %}Sites | TealDB{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-12">
    <h2 class="text-center">Sites</h2>
</div>
</div>

<div class="row">
<div class="col-md-10 col-md-offset-1">
    <a href="{% url 'add_site' %}" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Site
    </a>
</div>
</div>

<div class="row">
<div class="col-md-10 col-md-offset-1">
<table class="table">

<thead>
    <tr>
        <th></th>
        <th>Status</th>
        <th>Site</th>
        <th>Location</th>
        <th>Contacts</th>
    </tr>
</thead>

<tbody>
{% if sites %}
{% for site in sites %}
    <tr>
        <td>
            <a href="{% url 'site' site.id %}" class="btn btn-primary btn-xs" role="button">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span> View
            </a>
            <a href="{% url 'edit_site' site.id %}" class="btn btn-warning btn-xs" role="button">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </a>
        </td>
        <td>
{% if site.action_required %}
            <span class="glyphicon glyphicon-flag" style="color:red" aria-hidden="true"></span>
{% endif %}
{% if site.accepted_this_year %}
            <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
{% else %}
{%     if site.applied_this_year %}
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
{%     endif %}
{% endif %}
{% if site.lightings_not_available %}
            <span class="glyphicon glyphicon-ban-circle" style="color:red" aria-hidden="true"></span>
{% endif %}
{% if site.disposition == 'responded_declined' %}
            <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
{% endif %}
{% if site.fee %}
            <span class="glyphicon glyphicon-usd" style="color:darkgreen" aria-hidden="true"></span>
{% endif %}
{% if site.have_lit %}
            <i class="em em-sunny"></i>
{% endif %}
        </td>
        <td>{{ site.name }}</td>
        <td>
            {{ site.city }}{% if site.city and site.state %},{% endif %}
            {% if site.state %}{{ site.state }}{% endif %}
            {% if site.country %}({{ site.country }}){% endif %}
        </td>
        <td>{{ site.contact_count }}</td>
    </tr>
{% endfor %}
{% else %}
    <tr class="danger">
        <td colspan="4" class="text-center">There are currently no sites to display.</td>
    </tr>
{% endif %}
</tbody>

</table>
</div>
</div>

{% endblock %}{# content #}
