"""
Django secrets for turnitteal project.
"""

# Here is one way to generate a secret (on Linux). Generates an 80-character
# randomized secret string.
#
# dd if=/dev/urandom bs=60 count=1 | base64

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'Q7OxEsjG919ptIgzhdZCKdoVoRfA1NDVYC9kvb4hRf1Bekt8CyxgAqMkv6RByuWOnbdkVmMUzexAZ/uQ'

DB_USERNAME = 'tealdb'
DB_PASSWORD = 'G1skIY*cybDyFIOO'
